body {
  font-family: Arial;
  background-color: #f0f0f0;
}

header {
  background-color: lightblue;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: #dab151ec;
  padding: 10px;
  text-align: center;
}



footer {
  background-color: lightblue;
  text-align: center;
  padding: 10px;
}